:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body{
  height: 100%;
  width: 100%;
}

#container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #dddddd;
}

#grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  box-sizing: border-box;
  min-height: calc(100%/(var(--grid-rows)));
  min-width: calc(100%/(var(--grid-cols)));
  text-align: center;
  cursor: crosshair;
}

.grid-border {
  border: 1px solid #dddddd;
}

.controls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid purple;
  box-sizing: border-box;
}

.controls input {
  flex-grow: 1;
  min-width: 10em;
  margin: 1em;
}